{% extends 'base.html.twig' %}

{% block title %}React{% endblock %}

{% block body %}
    <h1>React</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ react.id }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ react.id }}</td>
            </tr>
            <tr>
                <th>LikeCount</th>
                <td>{{ react.LikeCount }}</td>
            </tr>
            <tr>
                <th>DislikeCount</th>
                <td>{{ react.DislikeCount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_react_index') }}">back to list</a>

    <a href="{{ path('app_react_edit', {'id': react.id}) }}">edit</a>

    {{ include('react/_delete_form.html.twig') }}
{% endblock %}
