<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ccc;
        }

        th {
            background-color: #f0fcfc;
        }

        .meals-list {
            list-style: none;
            padding: 0;
        }

        .meals-list li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Facture</h2>
        <table>
            <tbody>
                <tr>
                    <th>Meals</th>
                    <td>
                        <ul class="meals-list">
                            {% for meal in commande.meals %}
                                <li>{{ meal.nomRepas }} ({{ commande.getMealQuantities()[meal.id] }})</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>TotaleCommande</th>
                    <td>{{ commande.prixtotal }}</td>
                </tr>
                <tr>
                    <th>AdresseClient</th>
                    <td>{{ commande.clientAdresse }}</td>
                </tr>
                <tr>
                    <th>MethodePaiement</th>
                    <td>{{ commande.methodePaiement }}</td>
                </tr>
                <tr>
                    <th>EtatCommande</th>
                    <td>{{ commande.etatCommande }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>InstructionSpeciale</th>
                    <td>{{ commande.instructionSpeciale }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>