<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} Admin{% endblock %}</title>
   
       


       
        {% block CSS %}
    <link rel="stylesheet" href="{{asset("back/bootstrap/css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&display=swap">
    <link rel="stylesheet" href="{{asset("back/fonts/fontawesome-all.min.css")}}">
    <link rel="stylesheet" href="{{asset("back/fonts/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{asset("back/fonts/ionicons.min.css")}}">
    <link rel="stylesheet" href="{{asset("back/fonts/fontawesome5-overrides.min.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Add-Another-Button.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Contact-Form-v2-Modal--Full-with-Google-Map.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{{asset("back/css/Login-Form-Dark.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Ludens---Country-State-City-selects.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Map-Clean.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Newsletter-Subscription-Form.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/project-card.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Registration-Form-with-Photo.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Select2-JS-Plugin.css")}}">
 
  
        {% endblock %}

        
    </head>

<body id="page-top">

<div id="wrapper">

<!--header-->
    {% block header %}
   

 <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #595959;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{{ path('admin_dashbord') }}">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-reddit-alien" style="color: #010101;"></i></div>
                    <div class="sidebar-brand-text mx-3"><span style="color: #010101;">Dashboard</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="{{ path('admin_dashbord') }}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"></li>
                                        <li class="nav-item"><a class="nav-link" href="{{ path('admin_ajout1') }}"><i class="fa fa-plus-square-o fs-4"></i><span>Ajouter User</span></a>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_liste') }}"><i class="fas fa-table"></i><span>Liste des Users</span></a></li>

                    <li class="nav-item"><a class="nav-link" href="{{ path('Admin_rendez_index') }}"><i class="fas fa-table"></i><span>Liste des RDV</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('doctor_liste_admin_index') }}"><i class="fas fa-table"></i><span>Liste des docteurs</span></a></li> 
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_app_fiche_index') }}"><i class="fas fa-table"></i><span>Liste des fiches</span></a></li>

                    <li class="nav-item"><a class="nav-link" href="{{ path('app_publication_back') }}"><i class="fas fa-table"></i><span>Liste des Publication</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('back_commentaire_back') }}"><i class="fas fa-table"></i><span>Liste des Commentaires</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('adminapp_evenement_index') }}"><i class="fas fa-table"></i><span>Liste des Evenements</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('adminapp_activite_index') }}"><i class="fas fa-table"></i><span>Liste des Activités</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_commande_indexA') }}"><i class="fas fa-table"></i><span>Liste des Commandes</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_meal_index') }}"><i class="fas fa-table"></i><span>Liste des Repas</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_404') }}"><i class="fas fa-exclamation-circle"></i><span>Page Not Found</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_404') }}"><i class="fas fa-exclamation-circle"></i><span>Page Not Found</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>

    {% endblock %}




 <div class="d-flex flex-column" id="content-wrapper">
 <div id="content">

 <!--navbar-->
       {% block navbar %}
       <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop-1" type="button"><i class="fas fa-bars"></i></button>
                        
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{{asset("back/img/avatars/avatar4.jpeg")}}">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{{asset("back/img/avatars/avatar2.jpeg")}}">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{{asset("back/img/avatars/avatar3.jpeg")}}">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{{asset("back/img/avatars/avatar5.jpeg")}}">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                            
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">{{app.user.nom}}</span><img class="border rounded-circle img-profile" src="{{app.user.avatar}}"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="{{path('admin_profil')}}"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"></a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                
       {% endblock %}
     




       {% block body %}
       
       {% endblock %}


       <!--footer-->
         {% block footer %}
<footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                    <span class="float-end" data-bss-hover-animate="shake">Copyright © 
                     <script>document.write(new Date().getFullYear());</script></span></div>
                </div>
            </footer>
  
      
       {% endblock %}
           </div>
           <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>


       </div>
       
     
     {% block javascripts %}
 <script src="{{asset("back/bootstrap/js/bootstrap.min.js")}}"></script>
    <script src="{{asset("back/js/chart.min.js")}}"></script>
    <script src="{{asset("back/js/bs-init.js")}}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{asset("back/js/Select2-JS-Plugin-1.js")}}"></script>
    <script src="{{asset("back/js/Select2-JS-Plugin.js")}}"></script>
    <script src="{{asset("back/js/Contact-Form-v2-Modal--Full-with-Google-Map.js")}}"></script>
    <script src="{{asset("back/js/Dynamically-Add-Remove-Table-Row.js")}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
    <script src="{{asset("back/js/theme.js")}}"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

    <!--Adding jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!--Adding DataTable CDN -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

     <!--initializing DataTable  -->
    <script>
                $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('#example').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
        });

        } );
    </script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
            })
        })()
    </script>
  
        {% endblock %}
    </body>
</html>
