<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard Admin</title>
    <link rel="stylesheet" href="{{asset("back/bootstrap/css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&display=swap">
    <link rel="stylesheet" href="{{asset("back/fonts/fontawesome-all.min.css")}}">
    <link rel="stylesheet" href="{{asset("back/fonts/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{asset("back/fonts/ionicons.min.css")}}">
    <link rel="stylesheet" href="{{asset("back/fonts/fontawesome5-overrides.min.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Add-Another-Button.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Contact-Form-v2-Modal--Full-with-Google-Map.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{{asset("back/css/Login-Form-Dark.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Ludens---Country-State-City-selects.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Map-Clean.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Newsletter-Subscription-Form.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/project-card.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Registration-Form-with-Photo.css")}}">
    <link rel="stylesheet" href="{{asset("back/css/Select2-JS-Plugin.css")}}">
 
</head>

<body class="bg-gradient-primary" style="background: rgb(50,46,46);">
     <section class="newsletter-subscribe" style="margin-top: 182px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Reset Password&nbsp;</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <form class="d-flex justify-content-center flex-wrap" method="post">
                <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
                <div class="mb-3"><button class="btn btn-primary" type="submit">Send</button></div>
            </form>
        </div>
    </section>
   <script src="{{asset("back/bootstrap/js/bootstrap.min.js")}}"></script>
    <script src="{{asset("back/js/chart.min.js")}}"></script>
    <script src="{{asset("back/js/bs-init.js")}}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{asset("back/js/Select2-JS-Plugin-1.js")}}"></script>
    <script src="{{asset("back/js/Select2-JS-Plugin.js")}}"></script>
    <script src="{{asset("back/js/Contact-Form-v2-Modal--Full-with-Google-Map.js")}}"></script>
    <script src="{{asset("back/js/Dynamically-Add-Remove-Table-Row.js")}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
    <script src="{{asset("back/js/theme.js")}}"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</body>

</html>