<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Vitalize</title>

		{% block css %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		{% endblock %}

		<style>
			{% block stylesheet %}

				.arrow {
					position: absolute;
					top: 2%;
					left: 5%;
					transform: translate(-50%, -50%);
					transform: rotate(90deg);
					cursor: pointer;
				}

				.arrow span {
					display: block;
					width: 1.5vw;
					height: 1.5vw;
					border-bottom: 5px solid white;
					border-right: 5px solid white;
					transform: rotate(45deg);
					margin: -10px;
					animation: animate 2s infinite;
				}

				.arrow span:nth-child(2) {
					animation-delay: -0.2s;
				}

				.arrow span:nth-child(3) {
					animation-delay: -0.4s;
				}

				@keyframes animate {
					0% {
						opacity: 0;
						transform: rotate(45deg) translate(-20px, -20px);
					}
					50% {
						opacity: 1;
					}
					100% {
						opacity: 0;
						transform: rotate(45deg) translate(20px, 20px);
					}
				}

				.form-container {
					width: 700px;
					padding: 20px;
					border: 1px solid #ccc;
					border-radius: 10px;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
					margin: auto auto 30px; /* Center the form horizontally */
				}

				.form-container label {
					margin-bottom: 5px;
				}

				.form-container .form-control {
					width: 100%;
					box-sizing: border-box;
					margin-bottom: 10px;
				}

				.form-container button {
					width: 100%;
				}
				.label-container {
					display: inline-block;
					margin-right: 20px; /* Adjust as needed for spacing */
				}


			{% endblock %}

		</style>
	</head>

	<body>

		<div class="form-container">
			{{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}
			<h1>Nouveau évenement :</h1>
			<div class="mb-3">
				<label for="{{ form.nom.vars.id }}">{{ form.nom.vars.label }}</label>
				{{ form_row(form.nom) }}
			</div>
			<div class="mb-3">
				<label for="{{ form.date.vars.id }}">{{ form.date.vars.label }}</label>
				{{ form_row(form.date) }}
			</div>
			<div class="mb-3">
				<label for="{{ form.localisation.vars.id }}">{{ form.localisation.vars.label }}</label>
				{{ form_row(form.localisation) }}
			</div>
			<div class="mb-3">
				<label for="{{ form.capacite.vars.id }}">{{ form.capacite.vars.label }}</label>
				{{ form_row(form.capacite) }}
			</div>
			<div class="mb-3">
				<label for="{{ form.organisateur.vars.id }}">{{ form.organisateur.vars.label }}</label>
				{{ form_row(form.organisateur) }}
			</div>
			<div class="mb-3">
				<label for="{{ form.description.vars.id }}" class="form-label">{{ form.description.vars.label }}</label>
				{{ form_row(form.description) }}
			</div>
			<div class="mb-3">
				<label for="{{ form.imageEve.vars.id }}" class="form-label" >{{ form.imageEve.vars.label }}</label>
				{{ form_row(form.imageEve, {'attr': {'class': 'form-control' }}) }}
			</div>

			<button type="submit" class="btn btn-info">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}


		</div>

		{% block js %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
