{% extends 'mehdi/publication_form.html.twig' %}

{% block title %}
    New Publication
{% endblock %}



{% block body %}

<br><br><br><br><br>

<div class="card">
    <div class="container">
      <div class="text-center">
        <h1>Create New Publication</h1>
      </div>
  
      <div class="form-container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
  
        <div class="form-group text-center">
          <label for="{{ form.type.vars.id }}">{{ form.type.vars.label }}</label>
          {{ form_widget(form.type, {'attr': {'class': 'form-control', 'style': 'width: 50%; margin: 0 auto;'}}) }}
          {% if form_errors(form.type) %}
            {{ form_errors(form.type) }}
          {% endif %}
        </div>
  
        <div class="form-group text-center">
          <label for="{{ form.titre.vars.id }}">{{ form.titre.vars.label }}</label>
          {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'style': 'width: 50%; margin: 0 auto;'}}) }}
          {% if form_errors(form.titre) %}
            {{ form_errors(form.titre) }}
          {% endif %}
        </div>
  
        <div class="form-group text-center">
          <label for="{{ form.description.vars.id }}">{{ form.description.vars.label }}</label>
          {{ form_widget(form.description, {'attr': {'class': 'form-control', 'style': 'width: 50%; margin: 0 auto;'}}) }}
          {% if form_errors(form.description) %}
            {{ form_errors(form.description) }}
          {% endif %}
        </div>
  
        <div class="form-group text-center">
          <label for="{{ form.image.vars.id }}">{{ form.image.vars.label }}</label>
          {{ form_widget(form.image, {'attr': {'class': 'form-control', 'style': 'width: 50%; margin: 0 auto;'}, 'filter': 'thumbnail'}) }}
          {% if form_errors(form.image) %}
            {{ form_errors(form.image) }}
          {% endif %}
        </div>
  
        
  
        <div class="form-group" style="display: none;">
          <label for="{{ form.id_user.vars.id }}">{{ form.id_user.vars.label }}</label>
          {{ form_widget(form.id_user, {'attr': {'class': 'form-control', 'style': 'width: 50%; margin: 0 auto;'}}) }}
          {% if form_errors(form.id_user) %}
            {{ form_errors(form.id_user) }}
          {% endif %}
        </div>
  
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
  
        {{ form_end(form) }}
      </div>
  
      <div class="text-center">
        <a href="{{ path('app_publication_index') }}" class="back-link">Back to List</a>
      </div>
    </div>
  </div>

 
   
{% endblock %}
