{% extends 'front/base.html.twig' %}

{% block title %}Envoyer un mail {% endblock %}
{% block body %}


<br><br><br>
{% include "_partials/_flash.html.twig" %}
<section id="contact" class="contact">
      

      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div>
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>A108 Adam Street</p>
                  <p>New York, NY 535022</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55</p>
                  <p>+1 6678 254445 41</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com</p>
                  <p>contact@example.com</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday</p>
                  <p>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>


          <div class="col-lg-6">
         
           
    <div class="row gy-4">
      {{ form_start(contactform) }}
        <div class="col-md-6">
           {{ form_row(contactform.nom) }}
        </div>
        <div class="col-md-6">
             {{form_row(contactform.email)}}
        </div>
        <div class="col-md-12">
             {{form_row(contactform.message)}}
        </div>
        <div class="col-md-12">
           {{form_row(contactform.image)}}
        </div>
        <div class="col-md-12 text-center">
          
            {{form_row(contactform.valider)}}
        </div>
    </div>
   
                  
                 {{form_end(contactform)}} 
          </div>

        </div>

      </div>

    </section>
{% endblock %}
