<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN: Google Meet Link for Appointment</title>
</head>
<body>
    <h2>ADMIN: Google Meet Link for Appointment</h2>
    <p>
        Hello Admin. {{ doctor.nom }},<br>
        A new appointment has been booked online.<br>
        Here are the appointment details:<br>
        Date: {{ rendezvous.date|date('Y-m-d H:i') }}<br>
        Patient: {{ rendezvous.patient.nom }} {{ rendezvous.patient.prenom }}<br>
        Meet Link: <a href="{{ meetLink }}">Join Meeting</a><br>
        <!-- Add more details as needed -->
    </p>
</body>
</html>
